<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{% block title %}Flux TV{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block head %}{% endblock %}
</head>
<body>

<header class="topbar">
  <a class="brand" href="{{ url_for('home') }}">📺 Flux TV</a>

  <nav style="display:flex;gap:8px;align-items:center;">
    <a class="admin-link" href="{{ url_for('ppsspp') }}">🎮 PPSSPP</a>
    <a class="admin-link" href="{{ url_for('admin_login') }}">Administration</a>
  </nav>
</header>

<main class="container">

  <!-- PUBLICITÉ MONETAG — HAUT -->
  <div class="ad-slot" id="ad-top"></div>

  {% block content %}{% endblock %}

  <!-- PUBLICITÉ MONETAG — BAS -->
  <div class="ad-slot" id="ad-bottom"></div>

</main>

<footer>Flux TV · Diffusion de contenus autorisés<br>Fait par Franck</footer>

</body>
</html>
